<a href="https://colab.research.google.com/github/angelomaia/alura-cursos/blob/master/Machine%20Learning%20-%20Redu%C3%A7%C3%A3o%20de%20Dimensionalidade/Machine_Learning_Redu%C3%A7%C3%A3o_de_Dimensionalidade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução à redução de dimensionalidade (Feature Selection)

In [5]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/reducao-dimensionalidade/master/data-set/exames.csv")

data

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,842302,M,17.99,10.38,122.80,103.78,1001.0,0.11840,0.27760,0.30010,...,184.60,2019.0,0.16220,0.66560,0.7119,0.786,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,103.78,1326.0,0.08474,0.07864,0.08690,...,158.80,1956.0,0.12380,0.18660,0.2416,0.786,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,103.78,1203.0,0.10960,0.15990,0.19740,...,152.50,1709.0,0.14440,0.42450,0.4504,0.786,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,103.78,386.1,0.14250,0.28390,0.24140,...,98.87,567.7,0.20980,0.86630,0.6869,0.786,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,103.78,1297.0,0.10030,0.13280,0.19800,...,152.20,1575.0,0.13740,0.20500,0.4000,0.786,0.1625,0.2364,0.07678,0.854454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,103.78,1479.0,0.11100,0.11590,0.24390,...,166.10,2027.0,0.14100,0.21130,0.4107,0.786,0.2216,0.2060,0.07115,0.158771
565,926682,M,20.13,28.25,131.20,103.78,1261.0,0.09780,0.10340,0.14400,...,155.00,1731.0,0.11660,0.19220,0.3215,0.786,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,103.78,858.1,0.08455,0.10230,0.09251,...,126.70,1124.0,0.11390,0.30940,0.3403,0.786,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,103.78,1265.0,0.11780,0.27700,0.35140,...,184.60,1821.0,0.16500,0.86810,0.9387,0.786,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,103.78,181.0,0.05263,0.04362,0.00000,...,59.16,268.6,0.08996,0.06444,0.0000,0.786,0.0000,0.2871,0.07039,NaN

In [6]:
data['diagnostico'].unique()

array(['M', 'B'], dtype=object)

In [8]:
from sklearn.model_selection import train_test_split
from numpy import random

SEED = 123321
random.seed(SEED)

valores_exames = data.drop(columns=['diagnostico','id'])
diagnostico = data.diagnostico

treino_x, teste_x, treino_y, teste_y = train_test_split(valores_exames, diagnostico, 
                                                        train_size=0.8, random_state=SEED)

,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,exame_9,exame_10,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
307,9.00,14.40,56.36,103.78,246.3,0.07005,0.03116,0.003681,0.003472,0.1788,...,60.90,285.5,0.09861,0.05232,0.01472,0.786,0.01389,0.2991,0.07804,NaN
319,12.43,17.00,78.60,103.78,477.3,0.07557,0.03454,0.013420,0.016990,0.1472,...,81.76,515.9,0.08409,0.04712,0.02237,0.786,0.02832,0.1901,0.05932,NaN
13,15.85,23.95,103.70,103.78,782.7,0.08401,0.10020,0.099380,0.053640,0.1847,...,112.00,876.5,0.11310,0.19240,0.23220,0.786,0.11190,0.2809,0.06287,0.969728
367,12.21,18.02,78.31,103.78,458.4,0.09231,0.07175,0.043920,0.020270,0.1695,...,93.85,624.6,0.13680,0.21700,0.24130,0.786,0.08829,0.3218,0.07470,NaN
257,15.32,17.27,103.20,103.78,713.3,0.13350,0.22840,0.244800,0.124200,0.2398,...,119.80,928.8,0.17650,0.45030,0.44290,0.786,0.22290,0.3258,0.11910,0.692628

In [11]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)
model.fit(treino_x, treino_y)
print(model.score(teste_x, teste_y))

ValueError: ignored

In [14]:
data.isnull()

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
565,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
566,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
567,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [15]:
# número de células vazias (NaN) em cada coluna
data.isnull().sum()

id               0
diagnostico      0
exame_1          0
exame_2          0
exame_3          0
exame_4          0
exame_5          0
exame_6          0
exame_7          0
exame_8          0
exame_9          0
exame_10         0
exame_11         0
exame_12         0
exame_13         0
exame_14         0
exame_15         0
exame_16         0
exame_17         0
exame_18         0
exame_19         0
exame_20         0
exame_21         0
exame_22         0
exame_23         0
exame_24         0
exame_25         0
exame_26         0
exame_27         0
exame_28         0
exame_29         0
exame_30         0
exame_31         0
exame_32         0
exame_33       419
dtype: int64

## Utilizando Random Forest para todas as dimensões

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from numpy import random

SEED = 123321
random.seed(SEED)

valores_exames = data.drop(columns=['diagnostico','id'])
diagnostico = data.diagnostico
valores_exames_v1 = valores_exames.drop(columns='exame_33') # retirando coluna com valores NaN

treino_x, teste_x, treino_y, teste_y = train_test_split(valores_exames_v1, diagnostico, 
                                                        train_size=0.7, random_state=SEED)

model = RandomForestClassifier(n_estimators=100)
model.fit(treino_x, treino_y)
print("A acurácia foi de %.2f%%" % (model.score(teste_x, teste_y) * 100))

A acurácia foi de 97.08%

### Testando com baseline (dummyclassifier)

In [27]:
from sklearn.dummy import DummyClassifier

SEED = 123321
random.seed(SEED)

classificador_bobo = DummyClassifier(strategy='most_frequent')

classificador_bobo.fit(treino_x, treino_y)
print("A acurácia foi de %.2f%%" % (classificador_bobo.score(teste_x, teste_y) * 100))

A acurácia foi de 63.16%